.section1 {
	background-color: 	#c6a9d6;
}

.section2 {
   background-color: 	#d4bde7;
}

.section3 {
	background-color: #c7c7e3;
}

.section4 {
	background-color: 	#dbdafa;
}

.card img {
	border-radius: 0;
}
